* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 16px 0 16px;
  margin-bottom: 38px;
}

.header__logo {
  width: 89px;
}

.header__button {
  background-color: #13183F;
  padding: 9px 24px 11px 24px;
  border-radius: 28px;
  font-family: inherit;
  font-size: inherit;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  color: white;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
}

.header__button:hover {
  background-color: #666CA3;
}

.presentation {
  display: flex;
  align-items: start;
  flex-direction: column;
  padding-left: 16px;
  padding-right: 16px;
}

.presentation__tittle {
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  color: #13183F;
  line-height: normal;
  margin-bottom: 26px;
}

.presentation__description {
  font-style: normal;
  color: #83869A;
  margin-bottom: 24px;
}

.presentation__button {
  background: linear-gradient(to bottom, #FF6F48, #F02AA6);
  padding: 15px 37px 15px 38px;
  border-radius: 28px;
  margin-bottom: 25px;
  font-family: inherit;
  font-size: inherit;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: white;
  cursor: pointer;
  border: none;
  position: relative;
}

.presentation__button::before {
  content: '';
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 28px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.presentation__button:hover::before {
  opacity: 1;
}

.img-mobile {
  width: 100%;
  max-width: 425px;
}

.presentation__img--tablet {
  display: none;
  z-index: -1;
}

.presentation__img--desktop {
  display: none;
  z-index: -1;
}

.courses {
  display: grid;
  grid-template-columns: 1fr;
  background: linear-gradient(to bottom, #FFFFFF, #F0F1FF);
  gap: 40px;
  padding-left: 16px;
  padding-right: 16px;
}

ul {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  margin-bottom: 80px;
  list-style: none;
}

ul h3 {
  background: linear-gradient(to bottom, #FF6F48, #F02AA6);
  padding: 24px 29px 32px 28px;
  border-radius: 10px;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 32px;
  color: white;
}

.course__card {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 0px 29px 32px 28px;
  border-radius: 10px;
}

.course__card img {
  position: relative;
  top: -25px;
  max-width: 56px;
}

.course__card--tittle {
  margin-bottom: 16px;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  color: #13183F;
}

.course__card--description {
  flex-grow: 1;
  font-style: normal;
  color: #83869A;
  margin-bottom: 24px;
}

.course__card--link {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  color: #F74780;
  text-decoration: none;
  transition: color 0.3s ease;
}

.course__card--link:hover {
  color: #FFA7C3;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #13183F;
  padding: 36px 16px;
}

.footer__logo {
  width: 89px;
}

.footer__button {
  background: linear-gradient(to bottom, #4851FF, #F02AA6);
  padding: 9px 24px 11px 24px;
  border-radius: 28px;
  border: none;
  font-family: inherit;
  font-size: inherit;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  color: white;
  cursor: pointer;
  position: relative;
}

.footer__button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 28px;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.footer__button:hover::before {
  opacity: 1;
}

@media (min-width: 768px) {
  .header {
    padding: 24px 40px 0 39px;
    margin-bottom: 99px;
  }

  .presentation {
    display: grid;
    grid-template-columns: 1fr auto;
    padding-left: 39px;
    padding-right: 0;
  }

  .presentation div {
    max-width: 398px;
  }

  .presentation__description {
    margin-right: -60px;
  }

  .img-mobile {
    display: none;
  }

  .presentation__img--tablet {
    display: block;
    width: 100%;
    max-width: 385px;
    margin-top: -170px;
  }

  .courses {
    padding-left: 39px;
    padding-right: 40px;
  }

  ul {
    grid-template-columns: 1fr 1fr;
    row-gap: 56px;
    column-gap: 11px;
    margin-bottom: 80px;
  }

  ul h3 {
    padding: 56px 21px 139px 32px;
  }

  .course__card {
    padding: 0px 21px 32px 32px;
  }

  .footer {
    padding: 36px 39px 36px 40px ;
  }
}

@media (min-width: 1440px) {
  .header {
    padding: 24px 165px 0 165px;
  }

  .header__logo {
    width: 114px;
  }

  .header__button {
    padding: 14px 31px 14px 32px;
    font-size: 18px;
  }

  .presentation {
    display: grid;
    grid-template-columns: 1fr auto;
    padding-left: 165px;
    padding-right: 0;
  }

  .presentation div {
    max-width: 457px;
  }

  .presentation__tittle {
    font-size: 56px;
    margin-bottom: 29px;
  }

  .presentation__description {
    width: 445px;
    font-size: 18px;
    line-height: 28px;
    margin-right: 0px;
    margin-bottom: 40px;
  }

  .presentation__img--tablet {
    display: none;
  }

  .presentation__img--desktop {
    display: block;
    width: 100%;
    max-width: 650px;
    margin-top: -185px;
  }

  .presentation__button {
    padding: 19px 31px 16px 32px;
    border-radius: 31.5px;
    margin-bottom: 250px;
    font-family: inherit;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
  }

  .courses {
    padding-left: 165px;
    padding-right: 165px;
  }

  ul {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    margin-bottom: 140px;
  }

  ul h3 {
    padding: 64px 32px 138px 32px;
    font-size: 32px;
    line-height: 40px;
  }

  .course__card {
    padding: 0px 32px 40px 32px;
    box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442);
  }

  .course__card--tittle {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 24px;
  }

  .course__card--description {
    font-size: 18px;
    line-height: 28px;
  }

  .footer {
    padding: 32px 165px;
  }

  .footer__logo {
    width: 114px;
  }

  .footer__button {
    padding: 14px 31px 14px 32px;
    font-size: 18px;
  }
}